.user-profile {
    padding-left: 100px;
    background-color:#d4aaf7;
}

.user-profile h1{
    display: inline;
    position: relative;
    bottom: 30px;
    left: 15px;
}

.user-profile img{
    width: 65px;
    /* position: relative;
    left: 75px; */
}

.menu{
    text-align: right;
    position: relative;
    bottom: 50px;
    margin-right: 100px;
    display: block;
}

.menu a{
    text-decoration: none;
}